.container-fluid {
    height: 1500px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 0;
}

header {
    height: 15%;
}

.head-info {
    padding-top: 40px;
    padding-right: 20px;
    text-align: end;
    list-style-type: none;
}

a {
    color: white;
}

.content {
    background: #b1b1b1;
    height: 100%;
}

menu {
    height: 60%;
    flex-wrap: nowrap;
    padding-left: 0;
}

h5 {
    padding-left: 15px;
    padding-top: 15px;
}

p {
    color: #7c7a7a;
    padding: 15px 15px 0 15px;
}

.left-info {
    padding-left: 15px;
    list-style-type: none;
}

.mini-bloc {
    max-height: calc((100% - 15px) / 2  );
    max-width: calc((100% - 75px)  / 5  );
    margin-bottom: 15px;
    background: #dcdada
}

.menu-bloc3 {
    height: 33.3333%;
}

footer {
    height: 25%;


}

.foot-list {
    list-style-type: none;
    column-count: 2;

}

.foot-list2 {
    list-style-type: square;
}

.p-r {
    padding-right: 0;
}


.p-l {
    padding-left: 20px;
}

.p-t {
    padding-top: 15px;
}

.m-r-15 {
    margin-right: 15px;
}
.m-l-0 {
    margin-left: 0;
}

.m-b-15 {
    margin-bottom: 15px;
}

.bg-wg {
    background: #dcdada;
}

.bg-dg {
    background: #b1b1b1;
}

.h-30 {
    height: 30%;
}

.h-40 {
    height: 40%;
}
.h-50 {
    height: 50%;
}


.c-w {
    color: white;
}

.h-33 {
    height: 33.3333%;
}

.w-100 {
    width: 100%;
}

.d-f {
    display: flex;
}

.f-d-r {
    flex-direction: row;
}

.f-d-c {
    flex-direction: column;
}

.f-w-w {
    flex-wrap: wrap;
}

.j-c-s-b {
    justify-content: space-between;
}
.f-b-1{
    flex-basis: auto;
}



@media screen and (max-width: 768px) {
    .container-fluid {
        min-height: 1500px;
    }

    .head-bloc1 {
        min-width: 50%;
    }

    .head-bloc2 {
        min-width: 50%;
        padding-right: 15px;
    }

    .head-bloc3 {
        min-width: 100%;
        display: block;
    }

    .head-info {
        padding-top: 5px;
    }

    menu {
        height: 60%;
        flex-direction: column-reverse;
        justify-content: space-between;
    }

    .left {
        max-width: 100%;
        justify-content: normal;
    }

    .right {
        height: 600px;
        flex: none;
        max-width: 100%;
    }

    .mini-bloc {
        width: 17.79%;
        background: #dcdada
    }

    footer {
        min-height: 500px;
        padding-bottom: 15px;
        flex-direction: column;
    }

    .m-b-sm-15 {
        margin-bottom: 15px;
    }

    .h-sm-50 {
        height: 50%;
    }
}


@media screen and (max-width: 575px) {
    .container-fluid {
        min-height: 1500px;
    }

    .head-bloc1 {
        min-width: 50%;
    }

    .head-bloc2 {
        min-width: 50%;
        padding-right: 15px;
    }

    .head-bloc3 {
        min-width: 100%;
        display: block;
    }

    .head-info {
        padding-top: 5px;
    }

    menu {
        height: 60%;
        flex-direction: column-reverse;
        justify-content: space-between;
    }

    .left {
        max-width: 100%;
        justify-content: normal;
    }

    .right {
        height: 600px;
        flex: none;
        max-width: 100%;
    }

    .mini-bloc {
        width: 17.79%;
        background: #dcdada
    }

    footer {
        min-height: 500px;
        padding-bottom: 15px;
        flex-direction: column;
    }

    .m-b-sm-15 {
        margin-bottom: 15px;
    }

    .h-sm-50 {
        height: 50%;
    }
}




